{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IET - Relay Coding</title>
    <link rel="stylesheet" href="{% static 'portal/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'portal/Images/icon.png' %}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="brand">
          <a href="{% url 'home' %}"><h1><img src="{% static 'portal/Images/icon.png' %}" alt="IET"></h1></a>
        </div>
        <ul onmousedown="return false" onselectstart="return false" class="nav-list dropdown">
          <input type="checkbox" id="checkbox_toggle" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>
          <div class="menu">
            <li class="home active"><a href="{% url 'home' %}#home" onclick="closeMenu()">Home</a></li>
            <li class="about"><a href="{% url 'home' %}#about" onclick="closeMenu()">About</a></li>
            <li class="timeline"><a href="{% url 'home' %}#timeline" onclick="closeMenu()">Timeline</a></li>
            <li class="contact"><a href="{% url 'home' %}#contact" onclick="closeMenu()">Contact</a></li>
            <li class="logout"><a href="{% url 'logout_view' %}" onclick="closeMenu()"><button class="btn-primary">Logout</button></a></li>
          </div>
      </ul>
    </nav>

    <section id="create">

      <div class="content">
        <h1>Hey {{ user.username }}, ready to take on Relay Coding? </h1><br>
        <p><b>Teamwork makes the dream work<br><br></b>
          <span>Create a team of coding enthusiasts and side-game champions with your squad. Join along with your teammates and get ready to rumble. <br> <br>
            Enter a team name and create a passcode. Other members of your team will use the name and password to verify and join in the team. <br>
          </span></p>
    </div>

      <form action="{% url 'create_team_view' %}" method="post">
        {% csrf_token %}
        <div class="container">
          
          <h2>Create a team</h2><br>
          <label for="name"><b>Team Name</b></label>
          <input type="text" placeholder="Enter Team Name" name="team_name" id="name" required autocomplete="off" autofocus>
      
          <label for="psw"><b>Team Passcode</b></label>
          <input type="password" placeholder="Enter Team Passcode" name="team_passcode" id="psw" required autocomplete="off">
      
          <label for="psw-repeat"><b>Repeat Passcode</b></label>
          <input type="password" placeholder="Repeat Passcode" name="repeat_passcode" id="psw-repeat" required autocomplete="off">
          <input type="submit" name="Submit" placeholder="Create" class="registerbtn" />
        </div>
        
        <div class="container signin">
          <p>Want to join a team ? <a href="{% url 'join_team_view' %}">Join now</a>.</p>
        </div>
      </form>
    </section>

    {% include 'portal/includes/scripts.html' %}
</body>
</html>