{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IET - Relay Coding</title>
    <link rel="stylesheet" href="{% static 'portal/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="brand">
            <h1>IET</h1>
        </div>
        <ul onmousedown="return false" onselectstart="return false">
          <li class="myteam active"><a href="{% url 'userhome' %}#myteam">My Team</a></li>
          <!-- <li class="about"><a href="index.html#about">About</a></li> -->
          <li class="timeline"><a href="{% url 'userhome' %}#timeline">Timeline</a></li>
          <li class="submit"><a href="{% url 'userhome' %}#submit">Submit Idea</a></li>
          <li class="contact"><a href="{% url 'userhome' %}#contact">Contact</a></li>
        </ul>
        <div class="btns">
            <!-- <a href="register.html"><button class="btn-primary">Register</button></a> -->
            <a href="{% url 'logout_view' %}"><button class="btn-secondary">Logout</button></a>
        </div>
    </nav>

    <section id="create">

      <div class="content">
        <h1>Hey {{ user.username }}</h1>
        <p><span>Your account is successfully created</span></p>
    </div>

      <form action="{% url 'create_team_view' %}">
        {% csrf_token %}
        <div class="container">
          <p>{{ message }}</p>
          <h2>Create a team</h2><br>
          <label for="name"><b>Team Name</b></label>
          <input type="text" placeholder="Enter Team Name" name="team_name" id="name" required autocomplete="off">
      
          <label for="psw"><b>Team Passcode</b></label>
          <input type="password" placeholder="Enter Team Passcode" name="team_passcode" id="psw" required autocomplete="off">
      
          <label for="psw-repeat"><b>Repeat Passcode</b></label>
          <input type="password" placeholder="Repeat Passcode" name="repeat_passcode" id="psw-repeat" required autocomplete="off">
          <input type="submit" name="Submit" placeholder="Create" class="registerbtn" />
        </div>
        
        <div class="container signin">
          <p>Want to join a team ? <a href="{% url 'join_team_view' %}">Join now</a>.</p>
        </div>
      </form>
    </section>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'portal/Scripts/main.js' %}"></script>

</body>
</html>