{% extends 'portal/base.html' %}
{% load static %}

{% block title %}IET - Relay Coding - Create Team{% endblock %}

{% block body %}
    <section id="create">

      <div class="content">
        <h1>Hey {{ user.username }}, ready to take on Relay Coding? </h1><br>
        <p><b>Teamwork makes the dream work<br><br></b>
          <span>Create a team of coding enthusiasts and side-game champions with your squad. Join along with your teammates and get ready to rumble. <br> <br>
            Enter a team name and create a passcode. Other members of your team will use the name and password to verify and join in the team. <br>
          </span></p>
    </div>

      <form action="{% url 'create_team_view' %}" method="post">
        {% csrf_token %}
        <div class="container">
          
          <h2>Create a team</h2><br>
          <label for="name"><b>Team Name</b></label>
          <input type="text" placeholder="Enter Team Name" name="team_name" id="name" required autocomplete="off" autofocus>
      
          <label for="psw"><b>Team Passcode</b></label>
          <input type="password" placeholder="Enter Team Passcode" name="team_passcode" id="psw" required autocomplete="off">
      
          <label for="psw-repeat"><b>Repeat Passcode</b></label>
          <input type="password" placeholder="Repeat Passcode" name="repeat_passcode" id="psw-repeat" required autocomplete="off">
          <input type="submit" name="Submit" placeholder="Create" class="registerbtn" />
        </div>
        
        <div class="container signin">
          <p>Want to join a team ? <a href="{% url 'join_team_view' %}">Join now</a>.</p>
        </div>
      </form>
    </section>

{% endblock %}
