{% extends "portal/base.html" %}

{% load static %}

{% block title %}
IET - Relay Coding
{% endblock %}

{% block body %}
   <section id="home">
      <div class="content">
            <h1><img src="{% static 'portal/Images/logo.png' %}" alt=""></h1><br>
            <p>
              Relay Coding is not your typical hackathon - it's a fusion of innovation and exhilarating side-games. Participants solve real-world problems and collaborate with your teammates to conquer side-games together. It's not just a hackathon; it's a bonding experience.
              The trademark of this event is the relay format side challenges. These challenges will add a twist to the competition, and possibly shuffle the leaderboard. Side-games inject an extra layer of excitement and refreshment to the hackathon experience.
            </p>
            <a href="{% url 'register_view' %}"><button class="btn-primary">Get Started</button></a>
        </div>
    </section>
        
    <section id="about">
        <div class="content">
          <h1>About</h1>
          <p><span>Ideate and implement an innovative solution to a problem statement! Experience the thrill of playing fun and exciting side games to earn points!            </span></p>
          <br>
          <p>
            Relay Coding is a high-octane 36-hour technical Hackathon unlike anything seen before. It is a showcase of innovation where participants will be in a race against time to build pioneering projects aimed at solving real-world problems.<br> <br>
            The trademark of this event will be the relay format side challenges. These challenges inject an extra layer of excitement, allowing teams to enhance their prospects and add a twist to the competition. <br> <br>
            The initial phase of the event consists of ideation, project building, and relay challenges. The projects will then be reviewed and shortlisted teams will proceed to the final phase. <br> <br>
            In the final phase, the teams will be presenting and pitching their projects to a panel of judges. This final sprint is where innovation converges with strategy. Teams will get to showcase their technical acumen along with their ability to present their ideas. All the teams will have only one goal, securing a coveted podium finish.
          </p>
        </div>

        <div class="image">
            <img src="{% static 'portal/Images/about-content.png' %}" alt="">
        </div>
    </section>


    <section id="timeline">
        <h1>Timeline</h1>
        <div class="timeline">
            <div class="container left">
              <div class="content">
                <h2>Sep 10th, 2023</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi praesentium sed accusantium eaque facilis hic pariatur fugiat, quo quam.</p>
              </div>
            </div>
            <div class="container right">
              <div class="content">
                <h2>Sep 10th, 2023</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi praesentium sed accusantium eaque facilis hic pariatur fugiat, quo quam.</p>
              </div>
            </div>
            <div class="container left">
                <div class="content">
                  <h2>Sep 10th, 2023</h2>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi praesentium sed accusantium eaque facilis hic pariatur fugiat, quo quam.</p>
                </div>
              </div>
              <div class="container right">
                <div class="content">
                  <h2>Sep 10th, 2023</h2>
                  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi praesentium sed accusantium eaque facilis hic pariatur fugiat, quo quam.</p>
                </div>
              </div>
          </div>
    </section>

    <section id="contact">
        <div class="content social-icons">
            <h1>Contact</h1>
            <p><span>Got burning questions or just want to chat about our awesome event? Drop us a line on our socials linked below, we promise we're as friendly as your favorite meme page.</span></p>
            <br>
            <a href="https://www.facebook.com/ietvit"  title="facebook"> 
                <i class="fa fa-facebook-square" aria-hidden="true"></i>
              </a>
              <a href="https://twitter.com/theietvit" title="twitter"> 
                <i class="fa fa-twitter-square" aria-hidden="true"></i>
              </a>
              <a href="https://www.instagram.com/ietvit/" title="instagram">  
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
              <a href="https://www.linkedin.com/company/ietvit/mycompany/" title="linkedin">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              </a>
        </div>
    </section>

    <footer>
        <p>© Copyright 2023, IET-VIT</p>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'portal/Scripts/main.js' %}"></script>
{% endblock %}