{% extends 'portal/base.html' %}
{% load static %}

{% block title %}IET - Relay Coding - Password reset{% endblock %}


{% block body %}
<section id="register">

      <div class="content">
        <h1>Password reset </h1>
        <p><span>Provide your VIT email ID here. We will send you a unique link through which you can reset your password.<span></p>
    </div>

      <form action="{% url 'password_reset_email_form_view' %}" method="post">

        {% csrf_token %}
        
        <div class="container">
          
          <label for="username"><b>VIT Email ID</b></label>
          <input type="text" placeholder="Enter your VIT Email ID" name="email" id="email" required autocomplete="off" autofocus>
  
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <div {% if message.tags %} id="{{ message.tags }}" {% endif %}>
              <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              </div>
            {% endfor %}
          </ul>
          {% endif %}

          <input type="submit" name="Submit" class="registerbtn" placeholder="Submit" />
        </div>
        
        <div class="container signin">
          <p>Don't have an account? <a href="{% url 'register_view' %}">Register</a></p>
        </div>
        
      </form>
    </section>
{% endblock %}
