{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IET - Relay Coding</title>
    <link rel="stylesheet" href="{% static 'portal/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'portal/Images/icon.png' %}" type="image/x-icon">
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="brand">
          <h1><img src="{% static 'portal/Images/icon.png' %}" alt="IET"></h1>
        </div>
        <ul onmousedown="return false" onselectstart="return false" class="nav-list dropdown">
          <input type="checkbox" id="checkbox_toggle" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>
          <div class="menu">
            <li class="home"><a href="{% url 'home' %}#home" onclick="closeMenu()">Home</a></li>
            <li class="about"><a href="{% url 'home' %}#about" onclick="closeMenu()">About</a></li>
            <li class="timeline"><a href="{% url 'home' %}#timeline" onclick="closeMenu()">Timeline</a></li>
            <li class="contact"><a href="{% url 'home' %}#contact" onclick="closeMenu()">Contact</a></li>
            <li class="register"><a href="{% url 'register_view' %}" onclick="closeMenu()"><button class="btn-primary">Register</button></a></li>
            <li class="login"><a href="{% url 'login_view' %}" onclick="closeMenu()"><button class="btn-secondary">Login</button></a></li>
          </div>
        </ul>
    </nav>

    <section id="register">
    


      <div class="content">
        <h1>Password reset </h1>
        <p><span>Enter your new password twice and make sure you don't forget it again. <span></p>
    </div>

      <form method="post">
        {% csrf_token %}
        <p><i>{{ message }}</i></p>
        <div class="container">
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter new password" name="password" id="password" required autocomplete="off">

          <label for="password"><b>Retype Password</b></label>
          <input type="password" placeholder="Confirm new password" name="retype_password" id="password" required autocomplete="off">

          <input type="submit" name="Submit" class="registerbtn" placeholder="Reset password" />
        </div>
        
      </form>
    </section>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'portal/Scripts/main.js' %}"></script>

</body>
</html>