{% extends 'portal/base.html' %}
{% load static %}

{% block title %}IET - Relay Coding - Password reset{% endblock %}

{% block body %}
  <section id="register">

      <div class="content">
        <h1>Password reset </h1>
        <p><span>Enter your new password twice and make sure you don't forget it again. <span></p>
    </div>

      <form method="post">
        {% csrf_token %}
        
        <div class="container">
          <h2>Reset Password</h2><br>
          <label for="password"><b>Password</b></label>
          <input type="password" placeholder="Enter new password" name="password" id="password" required autocomplete="off" autofocus>

          <label for="password"><b>Retype Password</b></label>
          <input type="password" placeholder="Confirm new password" name="retype_password" id="password" required autocomplete="off">

          <input type="submit" name="Submit" class="registerbtn" placeholder="Reset password" />
        </div>
        
      </form>
    </section>

{% endblock %}