{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IET - Relay Coding</title>
    <link rel="stylesheet" href="{% static 'portal/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/66aa7c98b3.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="brand">
            <h1>IET</h1>
        </div>
        <ul onmousedown="return false" onselectstart="return false" class="nav-list dropdown">
          <input type="checkbox" id="checkbox_toggle" />
          <label for="checkbox_toggle" class="hamburger">&#9776;</label>
          <div class="menu">
            <li class="home"><a href="{% url 'home' %}#home" onclick="closeMenu()">Home</a></li>
            <li class="about"><a href="{% url 'home' %}#about" onclick="closeMenu()">About</a></li>
            <li class="timeline"><a href="{% url 'home' %}#timeline" onclick="closeMenu()">Timeline</a></li>
            <li class="contact"><a href="{% url 'home' %}#contact" onclick="closeMenu()">Contact</a></li>
            <li class="register"><a href="{% url 'register_view' %}" onclick="closeMenu()"><button class="btn-primary">Register</button></a></li>
            <li class="login"><a href="{% url 'login_view' %}" onclick="closeMenu()"><button class="btn-secondary">Login</button></a></li>
          </div>
        </ul>
    </nav>

    <section id="register">

      <div class="content">
        <h1>Join US Now To Learn & Grow More</h1>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, perferendis temporibus, magnam voluptas excepturi magni molestiae officiis suscipit voluptatem iusto porro laborum assumenda nihil et fugit velit impedit! Quos, facere?</span></p>
    </div>

      <form action="{% url 'register_view' %}" method="post">
        {% csrf_token %}
        <div class="container">
          <p><i>{{ message }}</i></p>
          <label for="name"><b>Name</b></label>
          <input type="text" placeholder="Enter First Name" name="first_name" id="name" required autocomplete="off">

          <label for="name"><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="username" id="name" required autocomplete="off">

          <label for="email"><b>Email</b></label>
          <input type="text" placeholder="Enter Email" name="email" id="email" required autocomplete="off">
      
          <label for="psw"><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="password" id="psw" required autocomplete="off">
      
          <label for="psw-repeat"><b>Repeat Password</b></label>
          <input type="password" placeholder="Repeat Password" name="retype_password" id="psw-repeat" required autocomplete="off">
          <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>
          <!-- <button class="btn-primary">Register</button> -->
          <input type="submit" name="Submit" placeholder="Register"
          class="registerbtn" />
        </div>
        
        <div class="container signin">
          <p>Already have an account? <a href="{% url 'login_view' %}">Sign in</a>.</p>
        </div>
      </form>
    </section>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="{% static 'portal/Scripts/main.js' %}"></script>

</body>
</html>