<!-- registration page -->  
{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <title>Portal Submit</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{% static 'portal/login.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="login-box">
            <h2>Register</h2>
            <form action="{% url 'submit_idea_view' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" name="project_title" placeholder="Project title" />
                </div>
                <!-- dropdown with five tracks -->
                <div class="form-group">
                    <select name="track">
                        <option value="track1">Track 1</option>
                        <option value="track2">Track 2</option>
                        <option value="track3">Track 3</option>
                        <option value="track4">Track 4</option>
                        <option value="track5">Track 5</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="project_description" placeholder="Project Description" />
                </div>
                <div class="form-group">
                    <input type="text" name="github_link" placeholder="Github repository link" />
                </div>
                <div class="form-group">
                    <input type="text" name="drive_link" placeholder="Google drive link" />
                </div>
                <div class="form-group">
                    <input type="submit" name="Submit" placeholder="Submit" />
                </div>
                <p>{{ message }}</p>
            </form>
        </div>
    </body>
</html>
