.login-box {
    /* in laptop or computer this div should be in the middle of the screen, with a width of 360px and in phone screen it should be in the middle of the screen with a width of 90% */
    width: 360px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    
    /* wrap words in the div */
    word-wrap: break-word;
    
    /* adjust for phone screen */
    @media (max-width: 768px) {
        width: 90%;
        margin: 50px auto;
    }
}
