 /* popup */
 .popup {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(hsl(223, 47%, 2%),hsla(223, 47%, 7%, 0.7));
    opacity: 0;
    visibility: hidden;
    padding-top: 10%;
  }

  .popup.is-visible {
    opacity: 1;
    visibility: visible;
  }
  
  .popup-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    height: fit-content;
    padding-bottom: 2rem;
    box-shadow: 0 0 10px 5px rgba(64, 103, 241, 1);

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  
  .popup-container p {
    font-size: 1rem;
    padding: 3em 1em;
    color: black;
  }
  
  .popup-container .popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
  }
  .popup-container .popup-close::before, .popup-container .popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
  }
  .popup-container .popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
  }
  .popup-container .popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
  }
  .is-visible .popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  .popup-container button {
    display: block;
  }


  /* APPLYING MEDIA QUERIES */
@media (max-width: 900px) {

  nav {
    padding: 0.5em 1em;
  }

  nav li {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .btn-primary {
    background-color: rgba(64, 103, 241, 0.87);
    padding: 8px 10px;
    border: none;
    margin: 0px;
    border-radius: 5px;
  }

  nav .brand img {
    max-width: 35px;
  }

  .menu {
     display:none;
     position: absolute;
     background-color:hsla(222, 50%, 4%, 0.9);
     right: 0;
     left: 0;
     text-align: center;
     padding: 0px 0px 20px 0px;
   }
 
   .menu li:hover {
     display: inline-block;
     transition: 0.8s ease-in-out;
   }
 
   .menu li + li {
     margin-top: 12px;
   }
 
   input[type=checkbox]:checked ~ .menu {
     display: block;
   }
 
   .hamburger {
     display: block;
   }
 


   #home .content {
    padding-left: 1em;
    padding-right: 1em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home .content h1 img {
  max-width: 90%;
}

   .content h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
}

.content p {
    font-size: 0.90rem;
    color: #999;
    text-align: justify;



  
}



#about {
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 6vh;
  padding-bottom: 3vh;
}

#about div {
  width: 100% !important;
}

#about .content h1:after {
  display: block;
    content: "";
    height: 4px;
    width: 48px;
    background-color: rgba(64, 103, 241, 1);
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

#about .image {
  margin-top: 1rem;
}




#timeline .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  #timeline .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }


  #timeline .container h2 {
    font-size: 18px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  #timeline .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }





#contact .content {
  width: 100% !important;
}

#contact  {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 6vh;
  padding-bottom: 3vh;
}



#register {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1vh;
  padding-bottom: 3vh;
  flex-direction: column;
  justify-content: flex-start;
}

#register .content {
  width: 100%;
}

form {
  margin-top: 2rem;
  margin-right: 0px;
  /* margin-top: none; */
  width: 100%;
}

#create {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2vh;
  padding-bottom: 3vh;
  flex-direction: column;
  justify-content: flex-start;
}

#create .content {
  width: 100%;
}

#create .content p {
  text-align: center;
}



#join {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2vh;
  padding-bottom: 3vh;
  flex-direction: column;
  justify-content: flex-start;
}

#join .content {
  width: 100%;
}

#join .content p {
  text-align: center;
}



#submit {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2vh;
  padding-bottom: 3vh;
  flex-direction: column;
  justify-content: flex-start;
}

#submit .content {
  width: 100%;
}

#submit .content p {
  text-align: center;
}

#submit form {
  width: 100%;
}

 }

