@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:ital,wght@0,200;0,400;1,400&display=swap');
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

/* ------------------------------------------------- */

/* Reset Defaults */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  color: white;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(hsl(223, 47%, 4%),hsla(223, 47%, 7%, 0.2)),url("../portal/Images/background.jpeg");
  background-position:right;
  background-size: cover;
  background-repeat: no-repeat;
}

section {
  min-height: 100vh;
}

/* ------------------------------------------------- */

/* Scrollbar Styles */
body::-webkit-scrollbar {
  width: 12px;
}
  
body::-webkit-scrollbar-track {
  background: hsl(223, 47%, 4%);
}
  
body::-webkit-scrollbar-thumb {
  background-color: rgba(64, 103, 241, 0.87);
  border-radius: 20px;
  border: 3px solid hsl(223, 47%, 4%);
}

body::-webkit-scrollbar-thumb:hover {
  background-color: rgba(64, 103, 241, 1);
}

/* ------------------------------------------------- */

/* Home Section  */
#home {
  height: 100vh;
  background: linear-gradient(hsl(223, 47%, 4%),hsla(223, 47%, 7%, 0.2)),url("../portal/Images/background.jpeg");
  background-position:right;
  background-size: cover;
  background-repeat: no-repeat;
}

#home .content {
    padding-left: 10rem;
    padding-right: 10rem;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content h1 {
    font-size: 3rem;
}

.content p {
    font-size: 1rem;
    color: #999;
    text-align: justify;
}




/* Navbar styles */
nav {
  width: 100%;
  padding: 0.5em 5em;
  display: flex;
  position: fixed;
  top: 0;
  justify-content: space-between;
  align-items: center;
  transition: 0.2s;
  border-radius: 2px;
  z-index: 100;
}

.floatingNav {
  border-bottom: solid 1px #999;
  background: linear-gradient(hsl(223, 47%, 2%),hsla(223, 47%, 7%, 0.4));
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 5px;
}

li {
  list-style: none;
  margin-left: 3.5em;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.75em;
  color: hsla(0,0%,100%,.5);
  transition: .5s;
  z-index: 2;
}

li a:hover, li a:focus {
  font-weight: bolder;
  color: hsla(0,0%,100%,1);
}

.active a {
  color: hsla(0,0%,100%,1);
  font-weight: bolder;
}

button {
  cursor: pointer;
  transition: 0.5s;
}

.btn-primary {
  background-color: rgba(64, 103, 241, 0.87);
  padding: 8px 10px;
  border: none;
  margin-right: -40px;
  margin-left: 30px;
  margin-top: -5px;
  border-radius: 5px;
}

.btns {
  display: flex;
  justify-content: space-around;
}

.content .btn-primary {
  margin-top: 24px;
  margin-left: 0px;
  margin-right: 0px;
}

/* nav .btns .btn-primary {
  margin-right: 14px;
} */

.btn-secondary {
  background-color: transparent;
  padding: 8px 10px;
  border: solid 1px rgba(64, 103, 241, 1);
  border-radius: 5px;
  margin-top: -5px;
}

.btn-primary:hover {
  background-color: rgba(64, 103, 241, 1);
}

.btn-secondary:hover {
  background-color: rgba(64, 103, 241, 1) !important;
}

nav .brand {
  cursor: pointer;
}

nav .brand h1 img {
  max-width: 70px; 
}


input[type=checkbox] {
  display: none;
} 

/* HAMBURGER MENU */
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}



















#about {
    min-height: 100vh;
    padding-top: 20vh;
    padding-left: 7%;
}

#about {
    display: flex;
    justify-content: space-between;
}

#about div {
    width: 50%;
}

#about .content h1 {
    font-size: 2rem;
    text-transform: uppercase;
}

#about .content h1:after {
    display: block;
    content: "";
    height: 4px;
    width: 48px;
    background-color: rgba(64, 103, 241, 1);
    margin-bottom: 1.5rem;
}

#about .content p {
    font-size: 0.90rem;
    color: #999;
    text-align: justify;
}

#about .content p span {
    color: #999;
    font-weight: bold;
    margin-bottom: 3rem;
}

#about .image {
    min-height: 100%;
}

#about .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#about .image img {
    height: auto;
    width: 75%;
}

#timeline {
    padding-top: 20vh;
    padding-bottom: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#timeline h1 {
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    display: inline-block;
}

#timeline h1::after {
    display: block;
    content: "";
    height: 4px;
    width: 48px;
    background-color: rgba(64, 103, 241, 1);
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}



#timeline .timeline {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }
  
  #timeline .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    border-radius: 3px;
  }
  
  #timeline .container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  
  #timeline .container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid rgba(64, 103, 241, 1);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  .left {
    left: 0;
  }
  
  .right {
    left: 50%;
  }
  
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  .right::after {
    left: -16px;
  }
  
  #timeline .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }



  #timeline .content:hover,  #timeline .container:hover::after{
    box-shadow: 0 0 10px 5px rgba(64, 103, 241, 1);
  }

  #timeline .content h2, #timeline .content p {
    color: black;
  }

  #timeline .content p {
    text-align: justify;
  }


 
  #contact {
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top: 10vh; */
    justify-content: center;
    align-items: center;
}

#contact {
    display: flex;
    justify-content: space-around;
}

#contact div {
    width: 60%;
}

#contact h1 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  display: inline-block;
}

#contact h1::after {
  display: block;
  content: "";
  height: 4px;
  width: 48px;
  background-color: rgba(64, 103, 241, 1);
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
}

#contact .content p {
    font-size: 0.90rem;
    color: #999;
    text-align: center;
}


#contact .image {
    min-height: 100%;
}

#contact .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact .image img {
    height: auto;
    width: 75%;
}

.social-icons{
  text-align: center;
}
.social-icons a{
	color:#fff;
  line-height:30px;
  font-size:30px;
  margin: 0 5px;
  text-decoration:none;
  
}
.social-icons a i{
	line-height:30px;
  font-size:30px;
  -webkit-transition: all 200ms ease-in;
  -webkit-transform: scale(1); 
  -ms-transition: all 200ms ease-in;
  -ms-transform: scale(1); 
  -moz-transition: all 200ms ease-in;
  -moz-transform: scale(1);
  transition: all 200ms ease-in;
  transform: scale(1);
}
.social-icons a:hover i{
  color: rgba(64, 103, 241, 1);
  box-shadow: 0px 0px 150px #000000;
}


#register {
    height: fit-content;
    padding-left: 7%;
    padding-right: 3.5%;
}

#register {
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
    min-height: 100vh;
    align-items:center;
    background: linear-gradient(hsl(223, 47%, 4%),hsla(223, 47%, 7%, 0.2)),url("../portal/Images/background.jpeg");
}

#register .content {
  width: 40%;
  display: flex;
  flex-direction:column;
  justify-content: center;
}

#register .content h1 {
  font-size: 2rem;
  line-gap-override: 3px;
}

#register .content p {
  font-size: 0.90rem;
  color: #999;
  text-align: justify;
}

#register .content p span {
  color: #999;
  font-weight: bold;
}


form {
  margin: 30px 48px 20px 0px;
  padding: 16px;
  background-color: transparent;
  width: 40%;
  border: solid 2px rgba(64, 103, 241, 1);
  border-radius: 1rem;
  box-shadow: 0 0 10px 5px rgba(64, 103, 241, 1);
  height: fit-content;
}

input[type=text], input[type=password], select {
  width: 100%;
  padding: 5px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: transparent;
  border-bottom: solid 1px #999;
}

textarea {
  width: 100%;
  height: 150px;
  /* padding: 12px 20px; */
  padding: 5px;
  box-sizing: border-box;
  border: solid 1px #999;
  /* border-radius: 4px; */
  background-color: transparent;
  font-size: 12px;
  resize: none;
  overflow: hidden;
  /* color: #141414 */
}

option {
  color: black;
}

input[type=text]:focus, input[type=password]:focus {
  background: transparent;
  border-bottom: solid 2px #999;
  outline: none;
}

label b {
  font-size: 16px;
}

.registerbtn {
  background-color: rgba(64, 103, 241, 1);
  color: white;
  padding: 8px 12px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 4px;
}

.registerbtn:hover {
  opacity: 1;
}

a {
  color: dodgerblue;
}


.signin {
  background-color: transparent;
  text-align: center;
  font-size: 6px;
}


 p {
  font-size: 14px;
}

.error, .success, .info {
  font-size: 14px;
  text-align: center;
  margin-left: 0px;
  padding: 4px;
}

.error {
  color: red;
}

.success {
  color: rgb(15, 214, 15);
}

.info {
  color: dodgerblue;
}

#error {
  border: solid 0px red;
  background-color: rgba(255, 0, 0, 0.2);
  border-radius: 12px;
  margin-top: 12px;
}

#success {
  border: solid 0px rgb(8, 205, 8);
  background-color: rgba(3, 150, 3, 0.2);
  border-radius: 12px;
  margin-top: 12px;
}

#info {
  border: solid 0px dodgerblue;
  background-color: rgba(30, 144, 255, 0.2);
  border-radius: 12px;
  margin-top: 12px;
}

footer {
  width: 100%;
  display: inline;
  text-align: center;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: solid .5px #9999995a;
}




.container h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}

#create {
height: fit-content;
padding-left: 7%;
padding-right: 3.5%;
}

#create {
padding-top: 3rem;
display: flex;
justify-content: space-between;
height: 100vh;
align-items:center;
background: linear-gradient(hsl(223, 47%, 4%),hsla(223, 47%, 7%, 0.6)),url("../portal/Images/dashboard_bg.png");
}

#create .content {
width: 40%;
display: flex;
flex-direction:column;
justify-content: center;
}

#create .content h1 {
font-size: 2rem;
line-gap-override: 3px;
}

#create .content p {
font-size: 0.90rem;
color: #999;
text-align: justify;
}

#create .content p span {
color: #999;
font-weight: bold;
}

#create .container h2::after {
display: block;
content: "";
height: 4px;
width: 48px;
background-color: rgba(64, 103, 241, 1);
margin-bottom: 1.5rem;
margin-left: auto;
margin-right: auto;
}


.container h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 32px;
}

#join {
height: fit-content;
padding-left: 7%;
padding-right: 3.5%;
}

#join {
padding-top: 3rem;
display: flex;
justify-content: space-between;
height: 100vh;
align-items:center;
background: linear-gradient(hsl(223, 47%, 4%),hsla(223, 47%, 7%, 0.6)),url("../portal/Images/dashboard_bg.png");
}

#join .content {
width: 40%;
display: flex;
flex-direction:column;
justify-content: center;
}

#join .content h1 {
font-size: 2rem;
line-gap-override: 3px;
}

#join .content p {
font-size: 0.90rem;
color: #999;
text-align: justify;
}

#join .content p span {
color: #999;
font-weight: bold;
}

#join .container h2::after {
display: block;
content: "";
height: 4px;
width: 48px;
background-color: rgba(64, 103, 241, 1);
margin-bottom: 1.5rem;
margin-left: auto;
margin-right: auto;
}



#myteam {
  padding-top: 5rem;
  background: linear-gradient(hsl(223, 47%, 5%),hsla(223, 47%, 7%, 0.6)),url("../portal/Images/team_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#myteam h1 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  /* display: inline-block; */
}

#myteam h1::after {
  display: block;
  content: "";
  height: 4px;
  width: 48px;
  background-color: rgba(64, 103, 241, 1);
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}


#myteam .container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} 


#myteam .box{
  position: relative;
  min-width: 130px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 20px;
  position: relative;
  border-radius: 10px;
  border: solid 2px rgba(64, 103, 241, 1);
}

#myteam .box:hover {
  box-shadow: 0 0 10px 5px rgba(64, 103, 241, 1);
}

#myteam .top-bar{
  width: 50%;
  height: 4px;
  background: rgba(64, 103, 241, 1);
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0px 0px 10px 10px;
}

#myteam .top{
  display: flex;
  justify-content: space-between;
  align-items:center ;
  width: 100%;
}






#myteam .content img{
  width: 90px;
  height: 90px;
  border-radius:100px;
  overflow: hidden;
  object-fit: cover;
  object-position: top;
}
#myteam .content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#myteam .content strong{
  font-weight: 500;
  color: #141414;
  margin-top: 10px;
}

#myteam button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#myteam .btn-primary{
  margin: 0px;
}


#submit {
  height: fit-content;
  padding-left: 7%;
  padding-right: 3.5%;
  }
  
  #submit {
  padding-top: 5rem;
  padding-bottom: 3rem;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  align-items:center;
  background: linear-gradient(hsl(223, 47%, 4%),hsla(223, 47%, 7%, 0.6)),url("../portal/Images/dashboard_bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
  
  #submit .content {
  width: 30%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  }
  
  #submit .content h1 {
  font-size: 2rem;
  line-gap-override: 3px;
  }

  #submit form {
    width: 60%;
  }
  
  #submit .content p {
  font-size: 0.90rem;
  color: #999;
  text-align: justify;
  }
  
  #submit .content p span {
  color: #999;
  font-weight: bold;
  }
  
  #submit .container h2::after {
  display: block;
  content: "";
  height: 4px;
  width: 48px;
  background-color: rgba(64, 103, 241, 1);
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
  }
  
  
  #submit .container h2 {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
  }

  /* popup */
  .popup {
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(hsl(223, 47%, 2%),hsla(223, 47%, 7%, 0.7));
    opacity: 0;
    visibility: hidden;
    padding-top: 10%;
  }

  .popup.is-visible {
    opacity: 1;
    visibility: visible;
  }
  
  .popup-container {
    position: relative;
    width: 90%;
    max-width: 400px;
    margin: 4em auto;
    background: #FFF;
    border-radius: .25em .25em .4em .4em;
    text-align: center;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
    height: fit-content;
    padding-bottom: 2rem;
    box-shadow: 0 0 10px 5px rgba(64, 103, 241, 1);

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  
  .popup-container p {
    font-size: 1rem;
    padding: 3em 1em;
    color: black;
  }
  
  .popup-container .popup-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
  }
  .popup-container .popup-close::before, .popup-container .popup-close::after {
    content: '';
    position: absolute;
    top: 12px;
    width: 14px;
    height: 3px;
    background-color: #8f9cb5;
  }
  .popup-container .popup-close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    left: 8px;
  }
  .popup-container .popup-close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    right: 8px;
  }
  .is-visible .popup-container {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }

  .popup-container button {
    display: block;
  }


  /* APPLYING MEDIA QUERIES */
@media (max-width: 900px) {

  nav {
    padding: 0.5em 1em;
  }

  nav li {
    margin-left: 0px;
    margin-right: 0px;
  }
  
  .btn-primary {
    background-color: rgba(64, 103, 241, 0.87);
    padding: 8px 10px;
    border: none;
    margin: 0px;
    border-radius: 5px;
  }

  nav .brand img {
    max-width: 35px;
  }

  .menu {
     display:none;
     position: absolute;
     background-color:hsla(222, 50%, 4%, 0.9);
     right: 0;
     left: 0;
     text-align: center;
     padding: 0px 0px 20px 0px;
   }
 
   .menu li:hover {
     display: inline-block;
     transition: 0.8s ease-in-out;
   }
 
   .menu li + li {
     margin-top: 12px;
   }
 
   input[type=checkbox]:checked ~ .menu {
     display: block;
   }
 
   .hamburger {
     display: block;
   }
 


   #home .content {
    padding-left: 1em;
    padding-right: 1em;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#home .content h1 img {
  max-width: 90%;
}

   .content h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
}

.content p {
    font-size: 0.90rem;
    color: #999;
    text-align: justify;



  
}



#about {
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 6vh;
  padding-bottom: 3vh;
}

#about div {
  width: 100% !important;
}

#about .content h1:after {
  display: block;
    content: "";
    height: 4px;
    width: 48px;
    background-color: rgba(64, 103, 241, 1);
    margin-bottom: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

#about .image {
  margin-top: 1rem;
}




#timeline .timeline::after {
  left: 31px;
  }
  
  /* Full-width containers */
  #timeline .container {
  width: 100%;
  padding-left: 70px;
  padding-right: 25px;
  }


  #timeline .container h2 {
    font-size: 18px;
  }
  
  /* Make sure that all arrows are pointing leftwards */
  #timeline .container::before {
  left: 60px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after, .right::after {
  left: 15px;
  }
  
  /* Make all right containers behave like the left ones */
  .right {
  left: 0%;
  }





#contact .content {
  width: 100% !important;
}

#contact  {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 6vh;
  padding-bottom: 3vh;
}



#register {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1vh;
  padding-bottom: 3vh;
  flex-direction: column;
  justify-content: flex-start;
}

#register .content {
  width: 100%;
}

form {
  margin-top: 2rem;
  margin-right: 0px;
  /* margin-top: none; */
  width: 100%;
}

#create {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2vh;
  padding-bottom: 3vh;
  flex-direction: column;
  justify-content: flex-start;
}

#create .content {
  width: 100%;
}

#create .content p {
  text-align: center;
}



#join {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2vh;
  padding-bottom: 3vh;
  flex-direction: column;
  justify-content: flex-start;
}

#join .content {
  width: 100%;
}

#join .content p {
  text-align: center;
}



#submit {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 2vh;
  padding-bottom: 3vh;
  flex-direction: column;
  justify-content: flex-start;
}

#submit .content {
  width: 100%;
}

#submit .content p {
  text-align: center;
}

#submit form {
  width: 100%;
}

 }


  



  