
<section id="contact">
    <div class="content social-icons">
        <h1>Contact</h1>
        <p><span>Got burning questions or just want to chat about our awesome event? Drop us a line on our socials linked below, we promise we're as friendly as your favorite meme page.</span></p>    
        <br>
        
        <a href="https://www.facebook.com/ietvit"  title="facebook"> 
          <i class="fa fa-facebook-square" aria-hidden="true"></i>
        </a>
        <a href="https://twitter.com/theietvit" title="twitter"> 
          <i class="fa fa-twitter-square" aria-hidden="true"></i>
        </a>
        <a href="https://www.instagram.com/ietvit/" title="instagram">  
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
        <a href="https://www.linkedin.com/company/ietvit/mycompany/" title="linkedin">
          <i class="fa fa-linkedin-square" aria-hidden="true"></i>
        </a>
    
    </div>
</section>
