
<section id="timeline">
    <h1>Timeline</h1>
    <div class="timeline">
        <div class="container left">
          <div class="content">
            <h2>Sep 22nd, 12pm</h2>
            <p>Opening Ceremony</p>
          </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2>Sep 22nd, 3:30pm</h2>
            <p>Darepong and Pacman</p>
          </div>
        </div>
        <div class="container left">
            <div class="content">
              <h2>Sep 22nd, 6pm</h2>
              <p>Review 1</p>
            </div>
          </div>
        <div class="container right">
            <div class="content">
              <h2>Sep 23nd, 10:30 am</h2>
              <p>Video Game Session</p>
            </div>
          </div>
        <div class="container left">
            <div class="content">
              <h2>Sep 23nd, 4:30 pm</h2>
              <p>Final Review</p>
            </div>
        </div>
        <div class="container right">
          <div class="content">
            <h2>Sep 23nd, 6pm</h2>
            <p>Closing Ceremony and Results</p>
          </div>
        </div>
      </div>
     
</section>
